.btn {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;

  
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn:hover {
  background-color: black;
  transform: scale(1.1); 
}